* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#preload {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #fff;
}
#preload .cssload-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 62px;
  height: 62px;
  margin: auto;
  border-radius: 50%;
  perspective: 780px;
}
#preload .cssload-loader .cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#preload .cssload-inner.cssload-one {
  left: 0;
  top: 0;
  border-bottom: 3px solid #000;
  animation: cssload-rotate-one 1.15s linear infinite;
}
#preload .cssload-inner.cssload-two {
  right: 0;
  top: 0;
  border-right: 3px solid #000;
  animation: cssload-rotate-two 1.15s linear infinite;
}
#preload .cssload-inner.cssload-three {
  right: 0;
  bottom: 0;
  border-top: 3px solid #000;
  animation: cssload-rotate-three 1.15s linear infinite;
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
